@import "tailwindcss";

.about-wrapper{
  @apply px-3 lg:px-20
}

.hero-wrapper{
  @apply grid place-content-center justify-items-center mt-20 ml-7 mr-7
}

.image{
  @apply h-30 w-30 mb-5
}

.why-mindy-exists{
  @apply  text-[#1B4965] text-justify mt-2
}

.our-values{
  @apply mx-auto max-w-4xl text-2xl mb-2
}
.main-values-wrapper{
  @apply mx-auto max-w-4xl gap-5 grid grid-cols-1 sm:grid-cols-2
}

.values-wrapper{
  @apply flex border border-none rounded-xl bg-[#E9E9E9] max-w-lg p-2
}

.value-icon{
  @apply mr-3 bg-[#DBF0FF] rounded-xl w-12 h-12 flex shrink-0 -rotate-20
}

.value-title{
  @apply text-xl pl-2
}

.value-text{
  @apply p-2 text-[#1B4965]
}