@import "tailwindcss";

/* hero */
.home-style{
  @apply grid place-content-center mt-25 ml-7 mr-7
}
.greeting{
  @apply text-4xl text-center
}

.after-greeting{
  @apply text-xl text-center mt-10 mb-10
}

.greeting-container{
  @apply lg:ml-40 lg:mr-40 sm:ml-7 sm:mr-7
}

/* reminder card */
.reminder-card-wrapper{
  @apply flex px-6 justify-center ml-5 mr-5
}

.reminder-card{
  @apply bg-white border-2 border-[#1B4965] mx-auto max-w-4xl rounded-2xl p-5 pt-3
}

.time-text{
  @apply text-[#5996BA] text-center text-xl font-[500]
}

.desc-text{
  @apply text-[#5FA8D3] text-center
}

.daily-reminder-text{
  @apply text-[#1B4965] text-xl
}

.clock-daily{
  @apply flex gap-3 mb-3
}

/* tips */

.tips-card{
  @apply ml-5 mr-5 mt-4 mx-auto max-w-5xl lg:pl-45 sm:pl-5 pt-3
}

.tips-wrapper{
  @apply flex border border-[#1B4965] rounded-xl bg-[#DBF0FF] max-w-lg basis-1/2
}

.tips{
  @apply mx-auto max-w-4xl pt-3 pb-5 flex-wrap gap-5 grid grid-cols-1 sm:grid-cols-2
}

.tip-title{
  @apply text-xl
}

.tip-icon{
  @apply h-8 w-8 ml-3 mt-1
}

.tip-text{
  @apply p-2 text-[#1B4965]
}

/* call too action  */
.cta-card{
  @apply w-full border-2 border-[#1B4965] p-4 rounded-xl text-lg hover:shadow-xl hover:scale-105 transition-shadow duration-300;
}
.cta-wrapper{
  @apply mx-auto max-w-4xl rounded-2xl p-5 pt-3
}

.cta-layout{
  @apply gap-6 mt-5 grid grid-cols-1 sm:grid-cols-2
}

/* grid buat nampilin konten per kolom
w-full buat responsivitas dibarengin sama max-w */
