@import "tailwindcss";

/* hero */
.home-style{
  @apply grid place-content-center mt-25 ml-7 mr-7
}
.greeting{
  @apply text-4xl text-center
}

.after-greeting{
  @apply text-xl text-center mt-10 mb-10
}

.greeting-container{
  @apply ml-40 mr-40
}

/* reminder card */
.reminder-card-wrapper{
  @apply flex px-6 justify-center ml-5 mr-5
}

.reminder-card{
  @apply bg-white border-2 border-[#1B4965] mx-auto max-w-4xl rounded-2xl p-5 pt-3
}

.time-text{
  @apply text-[#5996BA] text-center text-xl font-[500]
}

.desc-text{
  @apply text-[#5FA8D3] text-center
}

.daily-reminder-text{
  @apply text-[#1B4965] text-xl
}

.clock-daily{
  @apply flex gap-3 mb-3
}

/* tips */

.tips-wrapper{
  @apply ml-5 mr-5
}

.tips{
  @apply bg-white border-2 border-[#1B4965] mx-auto max-w-4xl rounded-2xl pl-4 pt-3
}

.tip-text{
  @apply text-xl
}