@import "tailwindcss";

.page-wrapper{
  @apply flex flex-col items-center pt-20 
}
.moods-wrapper{
  @apply flex gap-10
}

.mood-button-left{
  @apply w-32 h-32 -rotate-5 flex flex-col items-center justify-center cursor-pointer;
  @apply bg-white mx-auto border-[1.5px] border-[#1B4965] rounded-2xl; 
  @apply text-center text-xl text-[#1B4965];
  @apply hover:shadow-xl hover:scale-115 hover:rotate-0 transition-shadow duration-300
}

.mood-button-right{
  @apply w-32 h-32 rotate-5 flex flex-col items-center justify-center cursor-pointer;
  @apply bg-white mx-auto border-[1.5px] border-[#1B4965] rounded-2xl; 
  @apply text-center text-xl text-[#1B4965];
  @apply hover:shadow-xl hover:scale-115 hover:rotate-0 transition-shadow duration-300
}

.mood-icon-bg{
  @apply rounded-full p-1 max-w-fit mb-2
}

/* .mood-button-hover{
  
} */

/* mood-text{
  @apply text-center text-2xl
} */